<div class="card m-3">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="w-75 card-title fw-bold">{{title}}</h5>
            <h6 class="flex-shrink-1 text-end">{{format_date created_at}}</h6>
        </div>
        <p class="card-text">{{description}}</p>
    </div>
    <div class="d-flex border-top border-dark bg-light">
        <div class="p-2 w-25 m-auto" style="background-color: wheat;">{{status.status_type}}</div>
        <div class="p-2 w-75 text-center">
            <span class="fw-light">Assigned to</span>
            <br>
            <span>{{department.department_name}}</span>
        </div>
        <div class="p-2 flex-shrink-1 m-auto"><span class="dot" style="background-color: red;"></span></div>
    </div>
</div>