<div>
    <h3 class="m-3">Welcome {{titleCase userName}} to your personal Dashboard!</h3>
    <div class="col-12 d-flex flex-column p-0">
        <div class="m-3 row justify-content-around">
            <!-- New start -->
            <div class="col-12 col-md-6 col-xl-3 mb-3 p-2">
                <div class="card" id="1" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5 class="card-header bg-dark text-light">
                        New
                    </h5>
                    <div class="ticket-container">
                        {{#each tickets as |ticket| }}
                        {{#ifEquals status.status_type "New"}}
                        {{> ticket-cards-dashboard ticket}}
                        {{/ifEquals}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- New end -->

            <!-- in Pending start -->
            <div class="col-12 col-md-6 col-xl-3 mb-3 p-2">
                <div class="card" id="2" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5 class="card-header bg-dark text-light">
                        Pending
                    </h5>
                    <div class="ticket-container">
                        {{#each tickets as |ticket| }}
                        {{#ifEquals status.status_type "Pending"}}
                        {{> ticket-cards-dashboard ticket}}
                        {{/ifEquals}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- in Pending end -->

            <!-- in Processing start -->
            <div class="col-12 col-md-6 col-xl-3 mb-3 p-2">
                <div class="card" id="3" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5 class="card-header bg-dark text-light">
                        Processing
                    </h5>
                    <div class="ticket-container">
                        {{#each tickets as |ticket| }}
                        {{#ifEquals status.status_type "Processing"}}
                        {{> ticket-cards-dashboard ticket}}
                        {{/ifEquals}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- in Processing end -->

            <!-- Solved start -->
            <div class="col-12 col-md-6 col-xl-3 mb-3 p-2">
                <div class="card" id="4" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5 class="card-header bg-dark text-light">
                        Solved
                    </h5>
                    <div class="ticket-container">
                        {{#each tickets as |ticket| }}
                        {{#ifEquals status.status_type "Solved"}}
                        {{> ticket-cards-dashboard ticket}}
                        {{/ifEquals}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Solved end -->
        </div>
    </div>
</div>

<!-- Create Ticket Modal -->
<div class="modal fade" id="createTicketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ticketModalLabel">New Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation" id="create-ticket-form" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="create-ticket-title" class="col-form-lable">Title</label>
                        <input type="text" class="form-control" id="create-ticket-title"
                            placeholder="Enter Ticket Title" required minlength="5" />
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a ticket title more than 5 characters in length.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="create-ticket-description" class="col-form-lable">Description</label>
                        <textarea id="create-ticket-description" class="form-control"
                            placeholder="Enter Ticket Description" required minlength="5"></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a description of the issue more than 5 characters in length.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="create-ticket-department">Assigned Department</label>
                        <select class="form-control" id="create-ticket-department" required>
                            <option value="" disabled selected>Select Department</option>
                            {{#each departments as |department|}}
                            <option value="{{department.id}}">{{department.department_name}}</option>
                            {{/each}}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a department to address the ticket.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="create-ticket-priority">Priority</label>
                        <select class="form-control" id="create-ticket-priority" placeholder="test" required>
                            <option value="" disabled selected>Select Priority</option>
                            {{#each priorities as |priority|}}
                            <option value="{{priority.id}}">{{priority.priority}}</option>
                            {{/each}}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select an issue priority.
                        </div>

                        <div class="form-group">
                            <label for="create-user-email" class="col-form-lable">Email</label>
                            <textarea id="create-user-email" class="form-control"
                               
                                value= "hellow" minlength="5">{{userEmail}}
                                </textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                            Please provide a Email more than 5 characters in length.
                        </div>
                    </div>

                    {{!-- add email here --}}
                </div>
                <div class="modal-footer">
                    <button type="submit" id="create" class="btn btn-secondary">Create</button>
                    <button type="reset" id="close" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Ticket Modal -->
<div class="modal fade" id="editTicketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ticketModalLabel">Edit Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="needs-validation" id="edit-ticket-form" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edit-ticket-title" class="col-form-lable">Title</label>
                        <input type="text" class="form-control" id="edit-ticket-title" placeholder="Enter Ticket Title"
                            required minlength="5" />
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a ticket title more than 5 characters in length.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-ticket-description" class="col-form-lable">Description</label>
                        <textarea id="edit-ticket-description" class="form-control"
                            placeholder="Enter Ticket Description" required minlength="5"></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a description of the issue more than 5 characters in length.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-ticket-department">Assigned Department</label>
                        <select class="form-control" id="edit-ticket-department" required>
                            {{#each departments as |department|}}
                            <option value="{{department.id}}">{{department.department_name}}</option>
                            {{/each}}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a department to address the ticket.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-ticket-priority">Priority</label>
                        <select class="form-control" id="edit-ticket-priority" required>
                            {{#each priorities as |priority|}}
                            <option value="{{priority.id}}">{{priority.priority}}</option>
                            {{/each}}
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select an issue priority.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-ticket-status">Priority</label>
                        <select class="form-control" id="edit-ticket-status" required>
                            <option value="1">New</option>
                            <option value="2">Pending</option>
                            <option value="3">Processing</option>
                            <option value="4">Solved</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select an issue status.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary editBtn">Save</button>
                    <button type="reset" id="editClose" class="btn btn-primary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/add-ticket.js"></script>
<script src="/javascript/edit-ticket.js"></script>
<script src="/javascript/ticketDragDrop.js"></script>